{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Attendance</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
        </tr>

        {% for a in attendance %}
        <tr>
            <td>{{ a.attendance_id }}</td>
            <td>{{ a.name }}</td>
            <td>{{ a.date }}</td>
            <td>{{ a.time }}</td>
            <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}