{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Students</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Roll</th>
            <th>Department</th>
        </tr>

        {% for s in students %}
        <tr>
            <td>{{ s.student_id }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.roll_no }}</td>
            <td>{{ s.department }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}